In [1]:
import pandas as pd

student_data = pd.read_csv('data.csv')
student_data.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance\t,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,17.0,5.0,171.0,1.0,1.0,122.0,1.0,19.0,12.0,...,0.0,0,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
1,1,15.0,1.0,9254.0,1.0,1.0,160.0,1.0,1.0,3.0,...,0.0,6,6.0,6.0,13.666667,0.0,13.9,-0.3,0.79,Graduate
2,1,1.0,5.0,9070.0,1.0,1.0,122.0,1.0,37.0,37.0,...,0.0,6,0.0,0.0,0.000000,0.0,10.8,1.4,1.74,Dropout
3,1,17.0,2.0,9773.0,1.0,1.0,122.0,1.0,38.0,37.0,...,0.0,6,10.0,5.0,12.400000,0.0,9.4,-0.8,-3.12,Graduate
4,2,39.0,1.0,8014.0,0.0,1.0,100.0,1.0,37.0,38.0,...,0.0,6,6.0,6.0,13.000000,0.0,13.9,-0.3,0.79,Graduate